<p>catalog works!</p>

<h2 *ngIf="produitsAvecPrixNonDefini().length>0">Produits avec prix à définir :</h2>
<ul>
  <li *ngFor="let produit of produitsAvecPrixNonDefini()">
    {{ produit.nom }} - Prix: {{ produit.prix }} euros ({{ produit.promo }} % de réduction)
</ul>

<h2 *ngIf="produitsEnPromotion().length>0">Produits en promotion :</h2>
<ul>
  <li *ngFor="let produit of produitsEnPromotion()">
    {{ produit.nom }} - Prix: {{ produit.prix }} euros ({{ produit.promo }} % de réduction)
</ul>

<h2 *ngIf="autresProduits().length>0">Autres produits :</h2>
<ul>
  <li *ngFor="let produit of autresProduits()">
    {{ produit.nom }} - Prix: {{ produit.prix }} euros (pas de réduction)
</ul>
